.header {
    width: 100%;
    height: var(--header-height);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: var(--space-4);

    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-borde);

}

.nav {
    display: flex;
    align-items: center;
    gap: var(--space-5);
}

.nav a {
    text-decoration: none;
    color: var(--color-text);
    font-size: var(--space-4);
    font-weight: 500;
    
}

.nav a:hover {
    color: var(--color-primary);
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    gap: var(--space-3);
    padding-inline: var(--space-3);
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    color: var(--color-text);
    outline: none;
}

.input {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(15, 15, 24, 0.816);
    font-size: 15px;
    color: var(--color-text);
}

.cart {
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(15, 15, 24, 0.816);
    font-size: 15px;
    cursor: pointer;
}

.search {
    height: 40px;
    margin-top: 5px;

}

.search:focus {
    border-color: var(--color-primary);
}

.search::placeholder {
    border-color: var(--color-text-secondary);

}



.logo {
    text-decoration: none;
    color: var(--color-text);
    font-size: var(--space-5);
    font-weight: 700;

}